.navbar {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding-right: 40px;
  background-color: blueviolet;

  a {
    text-decoration: none;
    cursor: pointer;
    color: black;

    &:hover,
    &.active {
      color: white;
    }
  }
}
